<app-pagetitle
  title="Radar Charts"
  subtitle="Apex"
  pagetitle="Hyper"
></app-pagetitle>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Basic Radar Chart</h4>
        <div dir="ltr">
          <div id="basic-radar" class="apex-charts" data-colors="#727cf5">
            <apx-chart
              [series]="radarChart.series!"
              [chart]="radarChart.chart!"
              [labels]="radarChart.labels!"
              [colors]="radarChart.colors!"
            >
            </apx-chart>
          </div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Radar with Polygon-fill</h4>
        <div dir="ltr">
          <div id="radar-polygon" class="apex-charts" data-colors="#FF4560">
            <apx-chart
              [series]="polygonradarChart.series!"
              [chart]="polygonradarChart.chart!"
              [labels]="polygonradarChart.labels!"
              [colors]="polygonradarChart.colors!"
              [plotOptions]="polygonradarChart.plotOptions!"
              [markers]="polygonradarChart.markers!"
              [yaxis]="polygonradarChart.yaxis!"
            >
            </apx-chart>
          </div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
</div>
<!-- end row-->

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Radar – Multiple Series</h4>
        <div dir="ltr">
          <div
            id="radar-multiple-series"
            class="apex-charts"
            data-colors="#727cf5,#02a8b5,#fd7e14"
          >
            <apx-chart
              [series]="multipleradarChart.series!"
              [chart]="multipleradarChart.chart!"
              [stroke]="multipleradarChart.stroke!"
              [fill]="multipleradarChart.fill!"
              [markers]="multipleradarChart.markers!"
              [legend]="multipleradarChart.legend!"
              [colors]="multipleradarChart.colors!"
              [labels]="multipleradarChart.labels!"
            >
            </apx-chart>
          </div>
          <div class="text-center mt-2">
            <button onclick="update()" class="btn btn-sm btn-primary">
              Update
            </button>
          </div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
</div>
<!-- end row-->
