<!-- ========== Horizontal Menu Start ========== -->
<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="topnav-menu-content">
        <ul class="navbar-nav">
          @for (menu of menuItems; track $index) {
            @if (!menu.isTitle) {
              @if (hasSubmenu(menu)) {
                <ng-container
                  *ngTemplateOutlet="
                    MenuItemWithChildren;
                    context: {
                      menu: menu,
                      className: 'nav-item dropdown',
                      linkClassName:
                        'dropdown-toggle nav-link arrow-none nav-link-ref'
                    }
                  "
                >
                </ng-container>
              } @else {
                <ng-container
                  *ngTemplateOutlet="
                    MenuItem;
                    context: {
                      menu: menu,
                      className: 'nav-item',
                      linkClassName: 'nav-link nav-link-ref'
                    }
                  "
                >
                </ng-container>
              }
            }
          }
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- ========== Horizontal Menu End ========== -->

<!-- Reusable Templates -->
<ng-template
  #MenuItemWithChildren
  let-menu="menu"
  let-className="className"
  let-linkClassName="linkClassName"
>
  <li
    [class]="className"
    ngbDropdown
    [autoClose]="'outside'"
    [ngClass]="{ active: activeMenuItems.includes(menu.key) }"
  >
    <a
      ngbDropdownToggle
      [class]="linkClassName"
      href="javascript: void(0);"
      [ngClass]="{ active: activeMenuItems.includes(menu.key) }"
      role="button"
      id="topnav-{{ menu.label }}"
      [attr.aria-expanded]="!menu.collapsed"
      [attr.data-menu-key]="menu.key"
    >
      @if (menu.icon) {
        <i class="{{ menu.icon }} me-1"></i>
      }
      {{ menu.label | translate }}
      <div class="arrow-down"></div>
    </a>

    <div
      ngbDropdownMenu
      class="dropdown-menu"
      attr.aria-labelledby="topnav-{{ menu.label | translate }}"
    >
      @for (subitem of menu.subMenu; track $index) {
        <ng-container
          *ngTemplateOutlet="
            SubMenu;
            context: {
              menu: subitem,
              linkClassName:
                ' dropdown-toggle dropdown-item arrow-none nav-link-ref'
            }
          "
        >
        </ng-container>
      }
    </div>
  </li>
</ng-template>

<ng-template #SubMenu let-menu="menu" let-linkClassName="linkClassName">
  <div ngbDropdown class="dropdown">
    @if (hasSubmenu(menu)) {
      <a
        ngbDropdownToggle
        [class]="linkClassName"
        href="javascript: void(0);"
        [ngClass]="{ active: activeMenuItems.includes(menu.key) }"
        id="topnav-{{ menu.label | translate }}"
        role="button"
        [attr.data-menu-key]="menu.key"
      >
        {{ menu.label | translate }}
        <div class="arrow-down"></div>
      </a>

      <div
        ngbDropdownMenu
        class="dropdown-menu"
        attr.aria-labelledby="topnav-{{ menu.label | translate }}"
      >
        @for (subitem of menu.subMenu; track $index) {
          <ng-container
            *ngTemplateOutlet="
              SubMenu;
              context: {
                menu: subitem,
                linkClassName: 'dropdown-item arrow-none nav-link-ref'
              }
            "
          >
          </ng-container>
        }
      </div>
    } @else {
      <a
        [routerLink]="menu.link"
        class="dropdown-item nav-link-ref"
        [ngClass]="{ active: activeMenuItems.includes(menu.key) }"
        [attr.data-menu-key]="menu.key"
        >{{ menu.label | translate }}
      </a>
    }
  </div>
</ng-template>

<ng-template
  #MenuItem
  let-menu="menu"
  let-className="className"
  let-linkClassName="linkClassName"
>
  <li
    [class]="className"
    [ngClass]="{ active: activeMenuItems.includes(menu.key) }"
  >
    <a
      [routerLink]="menu.link"
      [class]="linkClassName"
      [ngClass]="{ active: activeMenuItems.includes(menu.key) }"
      [attr.data-menu-key]="menu.key"
    >
      <i [class]="menu.icon" class="me-1" *ngIf="menu.icon"></i>
      <span> {{ menu.label | translate }}</span>
    </a>
  </li>
</ng-template>
